.contentOfProduct {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    object-position: center;
}
.PRODUCT{
    color: white;
    box-shadow: 0 0 5px rgb(113, 112, 112);
    margin: 10px;
    width: 100%;
    height: 40vh;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(186, 184, 184);
    border-radius: 10px;
    transform: translateY(50px);
    display: block;
    transition: box-shadow 0.3s ease-in-out;
}
.PRODUCT:hover{
    transform: scale(1.05); /* تكبير العنصر */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.506);
    cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
    .PRODUCT {
        view-timeline-name: --product;
        view-timeline-axis: block;
        animation-timeline: --product;
        animation-name: fadeInUp;
        animation-fill-mode: both;
    }
}
/* تعريف الأنيميشن */
@keyframes fadeInUp {
    from {
        
        transform: translateY(50px);
    }
    to {
        
        transform: translateY(0);
    }
}

.myimage{
    width: 100%;
    height: 60%;
    margin: 0px auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center; /* //////////////////////////////////////////////////////////////////////////// */
}

.PRODUCT button{
    background-color: aquamarine;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.2s;
}
.PRODUCT button:hover{
    background-color: rgb(53, 255, 188);
    box-shadow: 0 0 5px rgb(53, 255, 188);
}
.PRODUCT h2 , .PRODUCT h3 {
    margin: 10px auto;
}
.CARTCONTAINER{
    width: 100%;
}
.EmptyCart{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    
    margin-top: 10%;
}
.GetTotalPrice{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.723);
    padding: 5px 0;
    color: white;
}
.GetTotalPrice .cart_summary{
    padding: 5px;
}
.GetTotalPrice .cart_summary h3{
    margin: 15px auto;
    color: aquamarine;
}
.GetTotalPrice .cart_summary button{
    background-color: aquamarine;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.2s;
    margin-bottom: 20px;
}
.GetTotalPrice .cart_summary button:hover{
    background-color: rgb(53, 255, 188);
    box-shadow: 0 0 5px rgb(53, 255, 188);
}
.category_of_products{
    padding: 1px;
    position: sticky;
    top: 60px;
    z-index: 3;
}
.category_of_products ul{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 60%;
    list-style: none;
    justify-content: space-around;
    background-color: rgba(43, 43, 43, 0.946);
    border-radius: 8px;
    padding: 10px;
    color: rgb(0, 0, 0);
    direction: rtl;
    box-shadow: 0 0 5px rgb(4, 239, 239);
}
.category_of_products ul li{
    transition: 0.3s;
    font-size: 18px;
    color: white;
}
.category_of_products ul li:hover{
    cursor: pointer;
    color: rgb(92, 247, 231);
}
.category_of_products ul li.active{
    transition: 0.3s;
    border-bottom: 2px solid rgb(1, 249, 191);
    padding-bottom: 4px;
}


@media (max-width: 768px){
    .contentOfProduct{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .PRODUCT{
        height: 40vh;
    }
    .myimage{
        height: 60%;
    }
    .PRODUCT h2 , .PRODUCT h3 {
        font-size: 16px;
        color: rgb(46, 49, 48);
    }
    .PRODUCT button{
        font-size: 16px;
        padding: 5px;
    }
    /* ///////////////////////////////// */
    .category_of_products ul{
        width: 100%;
    }
    .category_of_products ul li{
        font-size: 16px;
    }
    .GetTotalPrice .cart_summary h3{
        font-size: 16px;
    }
    .GetTotalPrice .cart_summary button{
        font-size: 16px;
    }
    .EmptyCart{
        font-size: 30px;
    }
    .GetTotalPrice .cart_summary button{
        padding: 10px 20px;
    }
    .category_of_products{
        top: 50px;
    }
}